config/database.php
composer.lock
/public/files
/public/photos
/public/images
/public/storage
/public/uploads
/public/vendor
/packages/dex
/storage
/vendor
vendor
storage
storage/*
error_log
robots.txt
.env

